<template>
	<div>
	    <div class="alert alert-warning error-container" v-if="alertData.hours > 0">
	        Du har ca <span id="result-permille">{{alertData.permille}}</span> 											promille i blodet. <br>
                        Det kommer enligt ungefärlig beräkning ta <span id="result-hours">{{alertData.hours}}</span> timmar innan du är helt nykter
	    </div>

	    <div class="alert alert-danger error-container" v-else-if="alertData.errors">
	        <ul id="error-list">
	        	<li v-for="(error, key, index) in alertData.errors">
	        		{{error[0]}}
	        	</li>
	        </ul>
	    </div>

	    <div class="result-container" v-else>
	        <div class="alert alert-success">
	        	Du har ca <span id="result-permille">{{alertData.permille}}</span> promille i blodet. <br>
                        Enligt ungefärlig beräkning så förbrände du den sista alkoholen för <span id="result-hours">{{alertData.hours}}</span> timmar sedan.
                        
	            <br>
	        </div>
	    </div>
	</div>
</template>

<script>
export default {
	props: {
		alertData: Object
	},
	created: function () {
		// `this` points to the vm instance
		console.log('a is:')
	},
};
</script>