<template>
	<div id="form-container">
	    <form method="post" id="calculate-form" v-on:submit.prevent="calculate">
		    <label for="male">Man</label>
		    <input type="radio" name="gender[]" v-model="gender" id="male" value="male">
		    <label for="woman">Kvinna</label>
		    <input type="radio" name="gender[]" v-model="gender" id="woman" value="woman"><br>
		    <label for="weight">Din vikt</label><br>
		    <button type="button" class="btn-decrease btn-weight" v-on:click="weight -= 1">-</button>
		    <input type="text" name="weight" id="weight" v-model="weight">
		    <button type="button" class="btn-increase btn-weight" v-on:click="weight += 1">+</button>

		    <div class="container-search">
		        <label for="search-keyword">Sök dryck från Systembolagets sortiment</label>
		        <div class="search-bar-container">
		            <input type="text" name="keyword" id="search-keyword" v-model="keyword" placeholder="Dryck">
		            <button type="button" id="search" v-bind:disabled="keyword === ''" v-on:click="search"><i class="fa fa-search" aria-hidden="true"></i></button>
		        </div>

		    	<Pagination :list-data="search_result" v-on:addDrink="addDrink" v-if="search_result"></Pagination>
		        
		    </div>

		    <div class="divider-forms" v-if="search_result"></div>

		    <h2>Fyll i nedan hur mycket alkohol du har druckit.</h2>


		    <div id="search-result-selected" v-if="form_values.length > 3">
		    	<div v-for="drink in form_values.slice(4)">
		    		<label class="label-pre-fieldset">{{drink.name}}</label>
					<input type="text" class="form-control" placeholder="cl" v-model="drink.amount">
		    	</div>
		    </div>

		    <label class="label-pre-fieldset" for="beer">Hur många/mycket öl drack du?</label>
		    <fieldset>
		        <input v-model="beer_amount" class="input-amount form-control" placeholder="Antal" id="beer" type="number" min="0" max="2000">
		        <select id="select-beer" class="form-control" v-model="selected_beer">
		        	<option v-for="beer in beer_options" v-bind:value="beer.value"> 
		        		{{ beer.text }}
		        	</option>
		        </select>
		        <input type="number" class="input-percentage input-with-drop form-control" v-model="form_values[0].alcohol" id="beerPercentage" step="0.01">
		        <label for="beerPercentage">%</label><br>
		    </fieldset>

		    <label class="label-pre-fieldset" for="booze">Hur mycket starksprit drack du?</label>
		    <fieldset>
		        <input class="input-amount form-control" v-model="form_values[1].amount" id="booze" placeholder="cl" type="number" min="0" max="1000">
		        <input class="input-percentage form-control" v-model="form_values[1].alcohol" id="boozePercentage" type="number" min="0" max="100" step="0.01">
		        <label for="boozePercentage">%</label><br>
		    </fieldset>

		    <label class="label-pre-fieldset" for="wine">Hur mycket vin drack du?</label>
		    <fieldset>
		        <input class="input-amount form-control" v-model="form_values[2].amount" id="wine" placeholder="cl" type="number" min="0" max="1000">
		        <input class="input-percentage form-control" v-model="form_values[2].alcohol" id="winePercentage" type="number" min="0" max="100" step="0.01">
		        <label for="winePercentage">%</label><br>
		    </fieldset>

		    <label class="label-pre-fieldset" for="other">Drack du något annat?</label>
		    <fieldset class="fieldset-small">
		        <input class="input-amount form-control" v-model="form_values[3].amount" id="other" placeholder="cl" type="number" min="0" max="1000">
		        <input class="input-percentage form-control" v-model="form_values[3].alcohol" id="otherPercentage" type="number" min="0" max="100" step="0.01">
		        <label for="otherPercentage">%</label><br>
		    </fieldset>

		    <label class="label-pre-fieldset" for="hours">Hur många timmar sedan drack du ditt första glas?</label>
		    <fieldset class="fieldset-small">
		        <input class="input-hours form-control" v-model="hours_since_first" id="hours" placeholder="0" type="number" min="0" max="100">
		        <label class="label-hours" for="hours">timmar</label><br>
		    </fieldset>

			<input type="hidden" name="_token" :value="csrf">

		    <div class="button-container">
		        <button type="reset" class="btn btn-default" id="reset" v-on:click="reset">Återställ</button>

		        <button class="btn btn-default" id="calculate">Räkna ut</button>
		    </div>
		</form>
		<Alerts :alert-data="calculation_result" v-if="calculation_result"></Alerts>

		<AlertError
			v-for="(error, index) in errors"
			v-bind:key="index"
			v-bind:error="error[0]"
		></AlertError>

		<AlertDanger
			v-if="danger"
			v-bind:danger="danger"
		></AlertDanger>

		<AlertSuccess
			v-if="success"
			v-bind:success="success"
		></AlertSuccess>


	</div>

</template>

<script>
import axios from 'axios';
import Pagination from './Pagination.vue';
import Alerts from './Alerts.vue';
import AlertError from './Alerts/Alert-Error.vue';
import AlertDanger from './Alerts/Alert-Danger.vue';
import AlertSuccess from './Alerts/Alert-Success.vue';

export default {
	components: {
		Pagination,
		Alerts,
		AlertError,
		AlertDanger,
		AlertSuccess
	},
	data: function () {
		return {
			keyword: '',
			errors: [],
			danger: null,
			success: null,
			search_result: null,
			calculation_result: null,
			weight: 75,
			gender: '',
			hours_since_first: '',
			selected_beer: 33,
			beer_amount: null,
			csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
			beer_options: [
				{ text: '33cl', value: 33 },
				{ text: '50cl', value: 50 },
				{ text: 'cl', value: 1 }
			],
			form_values: [
				{ name: 'beer', amount: null, alcohol: 5.2 },
				{ name: 'booze', amount: null, alcohol: 40 },
				{ name: 'wine', amount: null, alcohol: 11 },
				{ name: 'other', amount: null, alcohol: 22 }
			]
		};
	},
	methods: {
		search: function() {
			axios.get('/search/' + this.keyword)
				.then( response  =>  { this.search_result = response.data; })
				.catch( () => { 
					this.search_result = [];
					var errs = { errors: 'Krasch! Nu verkar det som något har gått sönder. Testa igen senare!' };
					this.search_result.push(errs);
				});
		},
		calculate: function() {
			if(this.beer_amount) {
				this.form_values[0].amount = this.selected_beer * this.beer_amount; 
			}
			axios.post('/calculate', {
				values: this.form_values,
				gender: this.gender,
				weight: this.weight,
				hours: this.hours_since_first
			})
				.then( response => { 
					if(response.data.hours > 0) {
						this.danger = response.data;
						this.success = null;
					}
					else {
						this.success = response.data;
						this.success.hours = Math.abs(this.success.hours)
						this.danger = null;
					}
					this.errors = [];
				})
				.catch( error => { this.errors = error.response.data.errors; });
		},
		reset: function() {
			Object.assign(this.$data, this.$options.data.call(this));
		},
		addDrink: function(name, volume, alcohol, foreign_id) {
			let title = `${name} ${volume}cl (${alcohol}%)`;
			this.form_values.push({ name: title, amount: 0, alcohol: alcohol, foreign_id: foreign_id});
		},		
	},
};
</script>
