<template>
	<div>
		<fieldset>
	    <!-- Elements injected with the `slot="top-bun"`
    attribute will end up in here. -->
    <slot name="top-bun">
    </slot>
    <!-- A slot tag without a name is a catch-all,
    it will contain any content that doesn't have
    a `slot=""` attribute. -->
    <slot>

    </slot>
    <label class="label-pre-fieldset" for="booze">Hur mycket starksprit drack du?</label>
		    <fieldset>
		        <input type="text" class="input-amount form-control" v-model="form_values[1].amount" id="booze" placeholder="cl">
		        <input type="text" class="input-percentage form-control" v-model="form_values[1].alcohol" id="boozePercentage" value="40">
		        <label for="boozePercentage">%</label><br>
		    </fieldset>
    <!-- Elements injected with the `slot="top-bun"`
    attribute will end up in here. -->
    <slot name="bottom-bun">
    </slot>
		</fieldset>
	</div>
</template>

<script>
export default {
	props: {
		alertData: Object
	},
	created: function () {
		// `this` points to the vm instance
		console.log('a is:')
	},
};
</script>