 <template>
 	<div class="search-results">
 		<div v-if="listData.length === 0">
 			<p>Tyvärr matchar din sökning ingen dryck i Systembolagets sortiment.</p>
 		</div>

 		<div v-else-if="listData[0].errors">
			<p>Krasch! Nu verkar det som något har gått sönder. Testa igen senare!</p>
		</div>

 		<div v-else>
 			<table id="listingTable">
				<thead>
					<tr>
						<th>Namn</th>
						<th>Volym</th>
						<th>Procent</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="drink in paginatedData">
						<td>
							{{drink.name}}
						</td>
						<td>
							{{drink.volume}}
						</td>
						<td>
							{{drink.alcohol}}
						</td>
						<td>
							<button type="button" class="addDrink" v-on:click="$emit('addDrink', drink.name, drink.volume, drink.alcohol, drink.foreign_id)">
								Ok
							</button>
						</td>
					</tr>
				</tbody>
            </table>
            <div class="button-search-container" v-if="listData">
            	<button 
            		class="pageBtn prevPage"
            		type="button"
					:disabled="pageNumber === 0" 
					v-on:click="prevPage">
					<i class="fa fa-long-arrow-left" aria-hidden="true"></i>
				</button>
				<button 
					class="pageBtn nextPage"
					type="button"
					:disabled="pageNumber >= pageCount -1" 
					v-on:click="nextPage">
					<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
				</button>
            </div>
 		</div>    

    </div>
</template>

<script>
export default {
	data: function () {
		return {
			pageNumber: 0
		};
	},
	props: {
		listData:{
			type:Array,
			required:false
		},
		size:{
			type:Number,
			required:false,
			default: 5
		}
	},
	methods: {
		nextPage: function () {
			this.pageNumber++;
		},
		prevPage: function () {
			this.pageNumber--;
		},
	},
	computed: {
		pageCount: function () {
			let l = this.listData.length,
				s = this.size;
			return Math.floor(l/s);
		},
		paginatedData: function () {
			const start = this.pageNumber * this.size,
				end = start + this.size;
			return this.listData.slice(start, end);
		}
	},
};
</script>