<template>
		<div class="alert alert-warning error-container">
	        Du har ca <span id="result-permille">{{danger.permille}}</span> promille i blodet. <br>
            Det kommer enligt ungefärlig beräkning ta <span id="result-hours">{{danger.hours}}</span> timmar innan du är helt nykter
			
	    </div>
</template>

<script>
export default {
	props: ['danger'],
};
</script>