<template>
		<div class="alert alert-success error-container">
            Enligt vår uträkning så förbrände du den sista alkoholen för <span id="result-hours">{{success.hours}}</span> timmar sedan. Observera att alla personer förbränner alkohol olika snabbt och vi kan endast ge ett ungefärligt svar.
        </div>
</template>

<script>
export default {
	props: ['success'],
};
</script>