@import "../_variables";

.section-blog-post {
  #share-buttons {
    p {
      font-weight: bold;
      margin: 0;
    }
    img {
      width: 35px;
      padding: 5px 5px 5px 0;
      border: 0;
      box-shadow: 0;
      display: inline;
    }
  }
  p.post-date {
    font-weight: bold;
  }
}