@import "../_variables";

.section-form {
  #result-permille, #result-hours {
    text-decoration: underline;
    font-weight: bold;
  }
  .error-container, .result-container {
    width: 550px;
  }
}
/* SEARCH */
.container-search {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  .search-bar-container {
    width: 50%;
    height: 40px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    border-radius: 2px;
    input {
      width: 90%;
      height: 100%;
      border: 0;
      text-indent: 10px;
    }
    #search,input:focus {
      outline: none;
    }
    #search {
      background-color: transparent;
      border: 0;
      padding: 0;
      i {
        color: $form-color-components;
      }
    }
  }
  .search-results {
    table {
      width: 550px;
    }
    th:nth-child(1), td:nth-child(1) {
      text-align: left;
    }
    th, td {
      text-align: right;
    }
    td {
      padding: 2px 0;
    }
    button {
      color: white;
      background-color: $form-color-components;
      border-color: $form-color-components;
      border-radius: 4px;
    }
    button:disabled,
    button[disabled]{
      border: 1px solid #999999;
      background-color: #cccccc;
      color: #666666;
    }
  }
}

/* MAIN FORM */
#calculate-form {
  input {
    /*width: 50px;*/
  }
  p {
    margin: 0 0 0 0;
  }
  h2 {
    margin: 20px 0 0 0;
    font-size: 20px;
  }
  fieldset {
    position: relative;
    display: inline-block;
    select, label {
      height: 37px;
    }
    select {
      width: 75px;
    }
    .input-with-drop {
      width: 175px!important;
    }
    label {
      background-color: $form-color-components;
      margin: 0;
      width: 37px;
      position: absolute;
      right:0;
      line-height: 37px;
      text-align: center;
      border-radius: 4px;
      color: #ffffff;
    }
    .label-hours {
      width: 65px;
    }
    input {
      line-height: 31px;
    }
    input, label, select {
      float: left;
    }
    .input-percentage {
      width: 250px;
    }
    .input-amount {
      width: 300px;
    }
    .input-hours {
      width:550px;
    }
  }
  #search-result-selected {
    width: 550px;
  }
  #search-result-selected > .label-selected {
    font-weight: 400!important;
  }
  .label-pre-fieldset {
    display: block;
    font-weight: 400;
  }
  .btn-weight {
    background-color: $form-color-components;
    width: 35px;
    border-color: $form-color-components;
    color: white;
    font-weight: bold;
  }
  #weight {
    width: 50px;
    text-align: center;
  }
  .btn-weight, #weight {
    font-size: 20px;
  }
}

/* SUBMIT FORM BUTTONS */
.button-container {
  width: 550px;
  text-align: center;
  padding: 20px;
  button:nth-child(1) {
    background-color: #d9534f;
  }
  button:nth-child(2) {
    background-color: #46b8da;
  }
  button {
    color: white;
    margin: 10px;
    padding: 10px 30px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid transparent;
  }
}

.alcohol-text {
  h1 {
    font-size: 36px;
  }
}
@media screen and (max-width:$break-large) {

}

@media screen and (max-width:$break-medium) {
  .search-bar-container {
    width: 60%!important;
  }
}

@media screen and (max-width:$break-small) {
  .section-form {
    .error-container, .result-container {
      width: 100%;
    }
    #calculate-form {
      #boozePercentage, #booze, #beer, #wine, #winePercentage, #other, #otherPercentage, #hours, #listingTable, #search-result-selected, .search-bar-container, fieldset {
        width: 100%!important;
      }
      #beerPercentage, #select-beer {
        width: 50%!important;
      }
    }
    fieldset > label {
      bottom: 0;
    }
    .button-container {
      width: auto;
      button {
        padding: 6px 12px;
      }
    }
    .container-search {
      .search-results {
        th, td {
          text-align: left;
        }
        tr, td {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 180px;
        }
        button {
          /*padding: 3px 1px;*/
        }
      }
    }
  }
}