
// Fonts
/*@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");*/

// Variables
@import "variables";

// Components
@import "components/forms";
@import "components/blog";
@import "components/blog_post";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
/* ==== Google font ==== */
//@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,700,800|Lato:100,400,300,700');
/* --- pe-icon-7-stroke --- */



body {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #666;
  background: #fff;
  font-size: 16px;
  line-height: 1.6em;
}
//Verdana,sans-serif
html {
  width: 100%;
  height: 100%;
}
.container {
  margin-bottom: 50px;
}

.navbar {
  border: 0;
  margin-top: 50px;
  margin-bottom: 80px;
  .container-fluid {
    padding-left: 165px;
    padding-right: 165px;
  }
  .navbar-brand {
    padding: 10px 15px;
    img {
      height: 30px;
      width: 30px;
    }
  }
  a {
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
  }
  li.active > a {
    color: #3fbbc0!important;
    background-color: #fff!important;
  }
}
.no-display {
  display: none!important;
}
.divider {
  background-color: #aaa;
  height: 1px;
  width: 250px;
  display: block;
  margin: 15px 0;
}

.divider-forms {
  background-color: #aaa;
  height: 1px;
  width: 70px;
  display: block;
  margin: 6px 0;
}
.no-padding {
  padding: 0;
}

/*label,
input,
button,
select,
textarea {
  font-family: 'Open Sans', sans-serif;
  font-size: inherit;
  line-height: inherit;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}


!* ===========
Typo
============= *!

h1 {
  font-size: 38px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 28px;
}
h5 {
  font-size: 24px;
}
h6 {
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 40px;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  color: #444;
  line-height: 1.1em;
}

h1.h-xlight,h2.h-xlight,h3.h-xlight ,h4.h-xlight ,h5.h-xlight ,h6.h-xlight  {
  font-weight: 100;
}

h1.h-light,h2.h-light,h3.h-light ,h4.h-light ,h5.h-light ,h6.h-light  {
  font-weight: 300;
}

h1.h-normal,h2.h-normal,h3.h-normal ,h4.h-normal ,h5.h-normal ,h6.h-normal  {
  font-weight: 400;
}

h1.h-medium,h2.h-medium,h3.h-medium ,h4.h-medium ,h5.h-medium ,h6.h-medium  {
  font-weight: 500;
}

h1.h-bold,h2.h-bold,h3.h-bold ,h4.h-bold ,h5.h-bold ,h6.h-bold  {
  font-weight: 700;
}

h1.h-ultra,h2.h-ultra,h3.h-ultra ,h4.h-ultra ,h5.h-ultra ,h6.h-ultra  {
  font-weight: 900;
}


h1.font-light,h2.font-light,h3.font-light,h4.font-light,h5.font-light,h6.font-light {
  color: #fff;
}

.big-heading {
  font-size: 48px;
  font-weight: 700;
}

p {
  margin: 0 0 20px;

}


!* misc *!
hr {
  border-top: 1px solid #fafafa;
}

hr.bold {
  border-top: 3px solid #eee;
}







!* ===========================
--- Footer
============================ *!

footer .widget {
  margin-bottom: 30px;
}

footer .widget h5 {
  font-size: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
}


.sub-footer {
  border-top: 1px solid #fafafa;
  padding: 50px 0 20px;
}

.sub-footer a{
  color: #444;
}

footer .sub-footer  p {
  font-size: 14px;
}

ul.social {
  list-style: none;
  padding-left: 0;
}
ul.social li {
  display: inline;
  margin-right: 5px;
}*/




@media screen and (max-width:$break-large) {
  #wrapper {
    .navbar {
      margin: 0;
      .container-fluid {
        padding: 0 15px;
      }
    }
  }
}

@media screen and (max-width:$break-medium) {
}

@media screen and (max-width:$break-small) {
}



